<div id="title">Dashboard</div>

<table id="mainTable">

</table>

<style>
    #title {
        font-size: 3em;
        width: 100%;
        text-align: center;
        border-bottom: rgba(0, 0, 0, 1) solid 1px;
    }

    #mainTable {
        width: 100%;
        margin-top: 5px;
    }

    tr {
        height: auto;
    }

    .nom {
        font-size: 28px;
        text-align: left;
    }

    .chambre {
        font-size: 14px;
        text-align: left;
    }

    /*.id {
        font-size: 12px;
    }*/

    .oxy {
        /*font-size: 16px;*/
        font-size: 26px;
        float: left;
    }

    .pulse {
        font-size: 14px;
        float: left;
        margin-left: 5px;
        margin-top: 4px;
    }

    /*.oxyAlert {
        font-size: 12px;
    }

    .pulseAlert {
        font-size: 12px;
    }*/

    .alert {
        font-size: 12px;
        text-align: left;
    }
</style>

<script>
    /////////// EJS DUMP ///////////////////
    var settings = <%- JSON.stringify(settings) %>

    /////////// DOM ELEMENTS ///////////////
    var DOMmainTable = document.getElementById("mainTable");

    /////////// INIT ///////////////////////
    function init() {
        console.log(json);
    }

    /////////// PRINT //////////////////////
    function print() {
        var nLine = Math.floor(json.data.length / settings["display.colQty"]);

        if(nLine * settings["display.colQty"] < json.data.length) {
            nLine += 1;
        }

        for(var n = 0;n<nLine;n+=1) {
            if(settings["display.colQty"] < 1) settings["display.colQty"] = 1;

            if(settings["display.colQty"] <= 3) { // DEFINE
                var tr = document.createElement("tr");
                var _data = json.data.slice(n*settings["display.colQty"], n*settings["display.colQty"]+settings["display.colQty"])

                // console.log(_data);
                // console.log(n*settings["display.colQty"]);

                _data.forEach(e => {
                    var th = document.createElement("th");

                    th.innerHTML = "" +
                        "<table>" +
                        "   <div class=\"nom\">"+e.name + "</div>" +
                        //"   <div class=\"chambre\">" + e.chambre + "</div>" +
                        //"   <div class=\"id\">" + e.id + "</div>" +

                        "   <div class=\"chambre\">" + e.chambre + " - #" + e.id + "</div>" +
                        "   <div class=\"alert\">" + e["oxy-alert"] + "-" + e["pulse-alert"] + "</div>" +
                        "   <div class=\"oxy\">" + e.concentration + "</div>" +
                        "   <div class=\"pulse\"> - " + e.pulsation + "</div>" +
                        // "   <div class=\"oxyAlert\">" + e["oxy-alert"] + "</div>" +
                        // "   <div class=\"pulseAlert\">" + e["pulse-alert"] + "</div>" +
                        "</table>"

                    tr.appendChild(th);
                });

                var last = _data.length - settings["display.colQty"];
                if(last > 0) {
                    for(var i=0;i<last;i+=1) {
                        tr.appendChild(document.createElement("th"));
                    }
                }

                DOMmainTable.appendChild(tr);
            }
        }
    }

    /////////// REFRESH ////////////////////
    var fTime = 0;
    var json;

    var useOnly = 20;

    function refresh() {
        setTimeout(refresh, settings['patient.refresh_rate']);
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                json = JSON.parse(this.responseText);

                if(useOnly !== -1) {
                    json.data.splice(useOnly, json.data.length - useOnly)
                }

                if(1 < fTime && fTime < 3) {
                    init();
                    print();
                }

                if(1 < fTime) {
                    // print();
                }

                fTime += 1;
            }
        }
        req.open("POST", "/", true);
        req.send();
    }

    refresh();
</script>